<!DOCTYPE html>
<html>
<head>
    <base href="@Url.Action("Index", "Home")"/>
    <script type="text/javascript">
        var appBaseUri = "@Url.Action("Index", "Home")";
    </script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <div>
            <hr />
            <footer>
                <p>Edi Document Viewer - &copy; @DateTime.Now.Year Fabian Wetzel</p>
            </footer>
        </div>
    </div>

@RenderSection("scripts", required: false)
</body>
</html>
